.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  font-family: 'Oswald'; 
}

.login__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}


.login__header img {
  width: 400px;
}

.login__header h1 {
  color: #fff;
  font-size: 1.5em;
  user-select: none;
}

.login__header p {
  font-family: 'Rubik';
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  word-spacing: 3px;
  margin-top: 4%;
  user-select: none
}

.login__input {
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  padding: 15px;
  width: 100%;
  background-color: whitesmoke;
}

.login__button {
  /*botão "JOGAR"*/
  background-color: #19691d;
  border: none;
  border-radius: 8px;
  transition: background 1s;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  max-width: 300px;
  padding: 15px;
  width: 100%;
  text-shadow: 0.07em 0.07em 0.07em black;
}

.login__button:hover,
.login_button:focus {
  /*efeito ao passar o cursor no botão jogar*/
  background: red;
}

.login__button:disabled {
  background-color: #eee;
  border: 2px solid #969595;
  color: #aaa;
  cursor: auto;
}